
/*=======================================
Template Design By MarkUps	
Author URI : http://www.markups.io/
========================================*/



.mu-primary-btn:hover,
.mu-primary-btn:focus,
.mu-filter-link:hover,
.mu-filter-imglink:hover,
.mu-filter-link:focus,
.mu-filter-imglink:focus,
.mu-simplefilter li:hover,
.mu-simplefilter li.active,
.mu-copy-right a:hover,
.mu-copy-right a:focus {
	color: rgb(81,106,119);
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-social-media a:hover,
.mu-social-media a:focus {
	border: 1px solid rgb(81,106,119);
	color: rgb(81,106,119);
}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button,
.mu-resume-btn:hover,
.mu-resume-btn:focus,
.mu-header-dot,
.mu-filter-item-content,
.mu-contact-top-single .mu-icon,
.mu-skill-progress-bar .mu-pro-bar {
	background: rgb(81,106,119);
}

#mu-featured-slider,
#mu-header.mu-fixed-nav {
	background: rgb(81,106,119);
	background: linear-gradient(90deg, rgba(81,106,119,1) 0%, rgba(46,69,145,1) 45%, rgba(81,106,119,1) 100%);
	animation: gradient 5s ease;
}

@keyframes gradient {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.6;
	}
	100% {
	opacity: 1;
	}
}

.featured-name  {
	animation: name 3s ease;
}

.mu-featured-content  {
	animation: content 7s ease;
}


@keyframes name {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes content {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.mu-contact-form .form-control:focus {
	border: 1px solid rgb(81,106,119);    
} 

.mu-resume-btn {
	border: 2px solid rgb(81,106,119);
	color: rgb(81,106,119);
}


.mu-pro-bar .proggress {
	background-color: rgb(81,106,119) !important;
}
